/* header{
    display: flex;
    flex-direction: column;
    align-items: center;
} */
/* Reset some default styles */
html, body, div, p {
    margin: 0;
    padding: 0;
}

/* Define a background color for the entire page */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

header h1 {
    font-size: 24px;
}

/* Container for monitoring data */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Monitoring data display */
#monitoring-data {
    font-size: 18px;
    margin-top: 20px;
}

/* Styling for data elements */
.data-element {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.data-element h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.data-element p {
    font-size: 16px;
    margin: 0;}

#display_image{
    width: 375px;
    height:211px;
    background-position: center;
    border: 1px solid black;
    background-size: cover;
}

.supportLinksPanel span{
    display: block;
}

.upload-buttons{
    display: flex;
    flex-direction: column;
}
.upload-buttons #uploadButton{
    min-width: 50px;
    
}
.dashboard-content{
    display:flex;
    flex-wrap: wrap;
}

.widget{
    display: inline;
}


* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
  }
  
  .header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
  }
  
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }

.button {
  padding: 5px 10px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #000000;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.button:hover {background-color: #2a2e2a}

.button:active {
  background-color: #000000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}